# Replace YOUR_API_KEY with your actual Gemini API key. This key is required for the extension to access Gemini's services. Make sure to keep this key secure and do not share it publicly.
GEMINI_API_KEY_1=YOUR_API_KEY
GEMINI_API_KEY_2=YOUR_API_KEY
GEMINI_API_KEY_3=YOUR_API_KEY 